<?xml version="1.0" ?>
<robot name="landing_pad">
  <link name="pad">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="5000"/>
      <inertia ixx="20833" iyy="20833" izz="41667" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="10 10 0.1"/>
      </geometry>
      <material name="yellow">
        <color rgba="1.0 0.8 0.0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="10 10 0.1"/>
      </geometry>
    </collision>
  </link>
</robot>