<?xml version="1.0"?>
<robot name="starhopper">

  <material name="stainless_steel">
    <color rgba="0.7 0.7 0.8 1.0"/>
  </material>
  <material name="dark_metal">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 9" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="4.5" length="18"/>
      </geometry>
      <material name="stainless_steel"/>
    </visual>
    <collision>
      <origin xyz="0 0 9" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="4.5" length="18"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="25000"/>
      <origin xyz="0 0 9" rpy="0 0 0"/>
      <inertia ixx="120000" ixy="0" ixz="0" iyy="120000" iyz="0" izz="80000"/>
    </inertial>
  </link>

  <link name="leg1">
    <visual>
      <origin xyz="0 0 -3" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.5" length="6"/>
      </geometry>
      <material name="stainless_steel"/>
    </visual>
    <collision>
      <origin xyz="0 0 -3" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.5" length="6"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="10"/>
    </inertial>
  </link>

  <link name="leg2">
    <visual>
      <origin xyz="0 0 -3" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.5" length="6"/>
      </geometry>
      <material name="stainless_steel"/>
    </visual>
    <collision>
      <origin xyz="0 0 -3" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.5" length="6"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="10"/>
    </inertial>
  </link>

  <link name="leg3">
    <visual>
      <origin xyz="0 0 -3" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.5" length="6"/>
      </geometry>
      <material name="stainless_steel"/>
    </visual>
    <collision>
      <origin xyz="0 0 -3" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.5" length="6"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="500"/>
      <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="10"/>
    </inertial>
  </link>

  <link name="engine_nozzle">
    <visual>
      <origin xyz="0 0 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.75" length="3"/>
      </geometry>
      <material name="dark_metal"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.75" length="3"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1000"/>
      <inertia ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="50"/>
    </inertial>
  </link>

   <link name="engine_nozzle_2">
    <visual>
      <origin xyz="0 0 -1.2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="1" length="1"/>
      </geometry>
      <material name="dark_metal"/>
    </visual>
    <collision>
      <origin xyz="0 0 -1.2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="1" length="1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1000"/>
      <inertia ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="50"/>
    </inertial>
  </link>

   <link name="engine_nozzle_3">
    <visual>
      <origin xyz="0 0 -2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="1.3" length="0.75"/>
      </geometry>
      <material name="dark_metal"/>
    </visual>
    <collision>
      <origin xyz="0 0 -2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="1.3" length="0.75"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1000"/>
      <inertia ixx="200" ixy="0" ixz="0" iyy="200" iyz="0" izz="50"/>
    </inertial>
  </link>






  <joint name="leg1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="leg1"/>
    <origin xyz="4.5 0 1" rpy="0 -0.7 0"/>
  </joint>

  <joint name="leg2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="leg2"/>
    <origin xyz="-2.25 -3.9 1" rpy="-0.6 0.7 0.25"/>
  </joint>

  <joint name="leg3_joint" type="fixed">
    <parent link="base_link"/>
    <child link="leg3"/>
    <origin xyz="-2.25 3.9 1" rpy="0.6 0.7 -0.25"/>
  </joint>

  <joint name="engine_joint" type="fixed">
    <parent link="base_link"/>
    <child link="engine_nozzle"/>
    <origin xyz="0 0 -0.0" rpy="0 0 0"/>
    </joint>
  <joint name="engine_joint_2" type="fixed">
    <parent link="base_link"/>
    <child link="engine_nozzle_2"/>
    <origin xyz="0 0 -0.0" rpy="0 0 0"/>
    </joint>
  <joint name="engine_joint_3" type="fixed">
    <parent link="base_link"/>
    <child link="engine_nozzle_3"/>
    <origin xyz="0 0 -0.0" rpy="0 0 0"/>
    </joint>

</robot>